/* 
main file with css styles
 */

 /* import css styles for nav bar */
@import "nav.css";

/* base styles */
* {
    box-sizing: border-box;
}
body {
    background-color: lightgray;
    font-family: sans-serif;
}
td {
    padding: 10px;
}