/* 
main file with css styles
 */

 /* import css styles for nav bar */
@import "nav.css";
@import "form.css";


/* base styles */
* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
td {
    padding: 10px;
}